
body {
    
    background: cadetblue;

}

.bg {
    

}


.parallax {

    
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: $perspective-value;
    
    
}

.parallax__group {
    
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;

    
}



/******TEST****/
//morepain

.parallax__group:nth-child(3) {
    
    height:62vh;
    
}
//relief
//.parallax__group:nth-child(4) {
//    
//    
//    height:130vh;
//    
//}



.parallax__layer {
    

    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;

    
}

.parallax__layer-base {
    
    
    transform: translateZ(0) scale(1);


    
    
}


.parallax__layer-back {
    
    
    transform: translateZ(-1px) scale(2.5) ;
    z-index: -1;
        
    
    
}



.content {
    
    z-index: 1000;
    
        
}

.clear {
    
    display: block;
    
}

