@font-face {
    
    font-family: 'Lato-Light';
    src: url(../fonts/Lato2OFL/Lato-Light.ttf);
    
}
@font-face {
    
    font-family: 'Lato-Regular';
    src: url(../fonts/Lato2OFL/Lato-Regular.ttf);
    
}
@font-face {
    
    font-family: 'Lato-Medium';
    src: url(../fonts/Lato2OFL/Lato-Medium.ttf);
    
}
@font-face {
    
    font-family: 'Lato-Bold';
    src: url(../fonts/Lato2OFL/Lato-Bold.ttf);
    
}

body {
    
    font-family: 'Lato-Bold';
    color: #fff;
    
}

/**HERO***/

.sentences {
    
    font-family: 'Lato-Medium';
    
    
}



.contact {
    
    
    font-family: 'Lato-Light';
    
    
}

.hero button {
    
    font-family: 'Lato-Regular';
    
}
