@charset "UTF-8";
@font-face {
  font-family: 'Lato-Light';
  src: url(../fonts/Lato2OFL/Lato-Light.ttf); }

@font-face {
  font-family: 'Lato-Regular';
  src: url(../fonts/Lato2OFL/Lato-Regular.ttf); }

@font-face {
  font-family: 'Lato-Medium';
  src: url(../fonts/Lato2OFL/Lato-Medium.ttf); }

@font-face {
  font-family: 'Lato-Bold';
  src: url(../fonts/Lato2OFL/Lato-Bold.ttf); }

body {
  font-family: 'Lato-Bold';
  color: #fff; }

/**HERO***/
.sentences {
  font-family: 'Lato-Medium'; }

.contact {
  font-family: 'Lato-Light'; }

.hero button {
  font-family: 'Lato-Regular'; }

/************COLORS************/
/************PARALLAX************/
/************PAIN************/
/************MOREPAIN************/
body {
  background: cadetblue; }

.parallax {
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px; }

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d; }

/******TEST****/
.parallax__group:nth-child(3) {
  height: 62vh; }

.parallax__layer {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.parallax__layer-base {
  transform: translateZ(0) scale(1); }

.parallax__layer-back {
  transform: translateZ(-1px) scale(2.5);
  z-index: -1; }

.content {
  z-index: 1000; }

.clear {
  display: block; }

.social {
  background: url("../../assets/img/social_icons.png") no-repeat;
  display: inline-block;
  background-size: cover;
  margin: 0 5px;
  width: 31px;
  height: 30px; }
  .social:hover, .social:focus, .social:active {
    border-radius: 10%;
    background-color: rgba(61, 75, 78, 0.66); }

.social-instagram {
  background-position: 0px 0px; }

.social-facebook {
  background-position: -33px 0px; }

.social-pict {
  background-position: -66px 0px; }

.social-bee {
  background-position: -100px 0px; }

@media screen and (max-width: 716px) {
  li .social {
    margin-top: 10px; } }

.bg-hero {
  background: linear-gradient(rgba(61, 75, 78, 0.33), rgba(61, 75, 78, 0.33)), url("../../assets/img/bg_hero.jpg") no-repeat center center;
  background-size: cover, cover; }

.hero {
  font-size: 30px; }
  .hero ul {
    list-style: none;
    padding: 1%;
    margin-bottom: 0%; }
  .hero li {
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: middle; }
  .hero h1, .hero h4 {
    margin: 0;
    padding: 0; }
  .hero a {
    text-decoration: underline;
    color: #fff; }
  .hero h1 {
    text-transform: uppercase;
    font-size: 1.5em; }
  .hero h4 {
    font-size: 0.66em; }
  .hero h2 {
    font-size: 1em; }
  .hero .contact {
    margin-top: 10%; }
    .hero .contact .phone {
      font-size: 1.5em; }
    .hero .contact img {
      margin-top: 2.5%; }
    .hero .contact a {
      text-decoration: underline; }
  .hero .logo {
    text-align: center; }
  .hero .sentences {
    margin-top: 5%; }
  .hero button {
    padding: 0 15%;
    margin-top: 10%;
    background-color: #c5820c;
    border: 4px solid #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    font-size: 0.8em;
    line-height: 28px;
    height: 3em; }

.hero .row:nth-child(1) {
  margin-top: 2%; }

.top-contacts {
  font-family: 'Lato-Light' !important;
  font-size: 1em;
  display: none;
  color: #fff;
  background: rgba(55, 55, 55, 0.5);
  text-align: center; }

@media screen and (min-width: 768px) {
  .hero .row {
    text-align: right; } }

@media screen and (max-width: 1200px) {
  .hero {
    margin-left: auto;
    margin-right: auto;
    font-size: 25px; }
    .hero button {
      font-size: 0.5em; } }

@media screen and (max-width: 1200px) and (max-height: 612px) {
  .sentences {
    margin-top: 10%;
    margin-bottom: 10%; } }

@media screen and (max-width: 767px) {
  .hero {
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px; }
    .hero .contact {
      display: none; }
    .hero img {
      width: 105%;
      height: 55%; }
    .hero .logo {
      margin-bottom: 2%; }
    .hero .top-contacts {
      display: inline; }
    .hero button {
      font-size: 0.8em; }
  .parallax__group:nth-child(1) {
    height: 140vh; } }

@media screen and (min-width: 650px) and (max-width: 767px) {
  .hero img {
    width: 75%; } }

@media screen and (min-width: 426px) and (max-width: 767px) {
  .hero .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%; } }

@media screen and (max-width: 425px) {
  .hero button {
    font-size: 0.6em;
    padding: 0;
    width: 100%;
    height: 100%; }
  .hero .content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%; } }

@media screen and (max-width: 425px) and (max-height: 618px) {
  .hero .content {
    width: 50%;
    font-size: 14px; } }

.pain {
  background: url("../../assets/img/bg_pain.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  border-top: solid 2px #000;
  border-bottom: solid 2px #000; }
  .pain .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    padding: 2% 2%; }
  .pain .container:before {
    width: 40%;
    min-height: 50%;
    margin: -2%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 2px solid #c1ae0c;
    border-top: 2px solid #c1ae0c; }
  .pain .container:after {
    width: 52.5%;
    min-height: 65%;
    margin: -2%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: 2px solid #c1ae0c;
    border-bottom: 2px solid #c1ae0c; }
  .pain .txt {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-family: "Lato-Bold"; }
  .pain .content {
    padding: 0;
    position: relative;
    height: 40vw;
    font-size: 1vw; }

.txt-pos-04 {
  font-family: "Lato-Medium" !important; }

.txt-pos-01 {
  font-size: 2.875em;
  line-height: 0.79;
  top: 0;
  left: 0;
  letter-spacing: -1px; }

.txt-pos-02 {
  font-size: 1.375em;
  top: 3.2em;
  left: 0; }

.txt-pos-03 {
  font-size: 2em;
  top: 2.1em;
  left: 4em;
  text-indent: 3.2em;
  line-height: 1.2;
  letter-spacing: -1px; }

.txt-pos-04 {
  font-size: 3.125em;
  top: 2.8em;
  left: 3em;
  line-height: 1;
  letter-spacing: -1px; }

.txt-pos-05 {
  font-size: 1.75em;
  top: 7.5em;
  left: 7.25em;
  letter-spacing: 0.05em; }

.txt-pos-06 {
  font-size: 1.562em;
  top: 9.5em;
  left: 0;
  letter-spacing: 0.04em; }

.txt-pos-07 {
  font-size: 2em;
  top: 7.2em;
  left: 15em;
  letter-spacing: 0.04em; }

.txt-pos-08 {
  font-size: 2em;
  top: 8.3em;
  left: 1.75em;
  letter-spacing: 0.04em; }

.txt-pos-09 {
  font-size: 1.312em;
  top: 13em;
  left: 26em;
  letter-spacing: 0.04em; }

.txt-pos-10 {
  font-size: 1.312em;
  top: 14.3em;
  left: 1.5em;
  letter-spacing: 0.04em; }

.txt-pos-11 {
  font-size: 1em;
  top: 19.5em;
  left: 30.3em;
  letter-spacing: 0.04em; }

.txt-pos-12 {
  font-size: 2.625em;
  top: 7.5em;
  left: 2em;
  letter-spacing: 0.04em; }

.txt-pos-13 {
  font-size: 1.312em;
  top: 17.7em;
  left: 2.5em;
  letter-spacing: 0.04em; }

.txt-pos-14 {
  font-size: 1.687em;
  top: 14.25em;
  left: 16em;
  letter-spacing: 0.04em; }

.txt-pos-15 {
  font-size: 2em;
  top: 12.7em;
  left: 3em;
  letter-spacing: 0.04em; }

.txt-pos-16 {
  font-size: 1.437em;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  white-space: normal !important;
  width: 40.83333vw;
  text-align: right; }

@media screen and (max-width: 680px) {
  .pain .content {
    font-size: 1.8vw;
    height: 80vw; }
  .pain .container {
    width: 81.25vw; }
  .pain .txt {
    white-space: normal; }
  .txt-pos-04 {
    left: 0.2em;
    white-space: nowrap !important; }
  .txt-pos-05 {
    top: 7em; }
  .txt-pos-06 {
    top: 9em; }
  .txt-pos-07 {
    top: 6em;
    width: 5em; }
  .txt-pos-08 {
    top: 7.9em; }
  .txt-pos-09 {
    top: 17em;
    left: 22em;
    width: 10em; }
  .txt-pos-10 {
    top: 13.8em; }
  .txt-pos-11 {
    font-size: 1.2em;
    top: 21.5em;
    left: 25.3em;
    width: 9em;
    line-height: 1.2em; }
  .txt-pos-12 {
    line-height: 1em; }
  .txt-pos-13 {
    top: 18.75em;
    left: 1em; }
  .txt-pos-14 {
    top: 15.35em;
    left: 0; }
  .txt-pos-15 {
    top: 14em;
    left: 2em;
    width: 12em;
    line-height: 1em; } }

/*.parallax__group:nth-child(3) {
    
    
    
    .parallax__layer-back {
         z-index: -3;
        
    }
    
    .bg {
        
        z-index: -3;
        
    position: relative;
    top: 0;
    left: 100%;
    min-height: 100vh;
    width: 100vw;
        transform: translateZ(-3px);
    background-size: cover;
    background: repeating-linear-gradient(
        135deg,
        $morepain-color-stripe-1,
        $morepain-color-stripe-1 2px,
        $morepain-color-stripe-2 2px,
        $morepain-color-stripe-2 4px);
     
        
    }
    
    
}*/
.bg-morepain {
  background: repeating-linear-gradient(135deg, #737373, #737373 2px, #7f7f7f 2px, #7f7f7f 4px);
  background-size: cover;
  transform: translateY(200vh); }

.morepain {
  color: #fff;
  font-family: Lato-Medium; }
  .morepain .content {
    height: 100%; }
  .morepain .container {
    background: #7f7f7f;
    padding: 1% 1% 0 1%;
    font-size: 2.25vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; }
  .morepain blockquote {
    background: #7f7f7f;
    padding: 2% 5% 10% 5%;
    text-align: center;
    border: 3px solid #fff;
    quotes: "“" "”";
    height: 100%; }
  .morepain blockquote:before {
    color: rgba(198, 178, 11, 0.7);
    content: open-quote;
    font-size: 10em;
    line-height: 0;
    position: absolute;
    top: -5%;
    left: 0;
    transform: scale(-1, -1); }
  .morepain blockquote:after {
    color: rgba(198, 178, 11, 0.7);
    content: open-quote;
    font-size: 10em;
    line-height: 0;
    position: absolute;
    right: 0;
    bottom: 0; }

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .morepain .container {
    width: 70%; } }

@media screen and (min-width: 768px) and (max-width: 1280px) and (max-height: 600px) {
  blockquote {
    font-size: 14px; } }

@media screen and (min-width: 426px) and (max-width: 768px) {
  .morepain .container {
    width: 70%; }
  blockquote {
    font-size: 14px; } }

@media screen and (max-width: 425px) {
  .morepain .container {
    color: #fff;
    width: 70%;
    height: 70%; }
  .morepain blockquote {
    font-size: 3vmin; }
  .morepain blockquote:before {
    font-size: 7.5em;
    top: -4%;
    left: -4%; }
  .morepain blockquote:after {
    font-size: 7.5em;
    bottom: -4%;
    right: -4%; } }

.relief {
  margin-top: 4%;
  color: #000; }
  .relief .bg {
    height: 100%;
    background: url("../../assets/img/relief_bg_sharp.jpg") no-repeat center center;
    background-size: cover; }
  .relief .container {
    background: rgba(255, 255, 255, 0.86);
    padding: 1% 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 73.333%; }
  .relief .content {
    text-align: center;
    border: 2px solid #c5820c;
    padding: 2% 2%;
    height: 100%;
    font-size: 30px; }
    .relief .content h1, .relief .content span {
      font-size: 1.6em;
      color: #c5820c; }
    .relief .content h1 {
      text-transform: uppercase; }
    .relief .content h4 {
      font-size: 0.8em; }
    .relief .content .guarantee {
      font-size: 0.933em;
      font-family: 'Lato-Regular'; }

@media screen and (min-width: 1280px) {
  .parallax__group:nth-child(4) {
    height: 130vh; } }

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .relief .content {
    font-size: 12px; } }

@media screen and (min-width: 416px) and (max-width: 768px) {
  .relief .content {
    font-size: 12px; }
  .relief .container {
    min-width: 90.00%; } }

@media screen and (max-width: 415px) {
  .relief .content {
    font-size: 11px; }
  .relief .container {
    min-width: 90.00%; } }

/*# sourceMappingURL=main.css.map */